################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Yummy Nouilles/FileContentIndex/c56168f0-5a6f-43dd-8211-7c45b981a200.vsidx
/.vs/Yummy Nouilles/FileContentIndex/b7b173c7-2f66-45cc-99f4-fadf81dded5b.vsidx
