/* CTA-banner */
.cta-banner {
    background-color: var(--red-highlight);
    color: var(--white);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:3.75rem 0;
}

.cta-banner__title {
    font-weight: var(--body-hightlight-font-weight);
    margin-bottom: 1rem;
}


@media (max-width: 768px) {

    .cta-banner {
        padding: 2.56rem 0 2.75rem 0;
    }
    .cta-banner__title {
        margin-bottom: 1.94rem;
    }

}

