
footer {
    width: 90rem;
    height: 13.5rem;
    background-color:var(--black);
    display:flex;
    justify-content:flex-end;
}

footer img {
    padding:5.75rem 0 5.5rem 0;
}

footer .m {
    padding-right:4.5rem;
}

    footer .i {
        padding-right: 3.31rem;
    }

    footer .f {
        padding-right: 3.5rem;
    }

@media screen and (max-width: 768px) {
    footer {
        width: 23.4275rem;
        height: 11.5rem;
        justify-content: center;
    }

        footer img {
            padding: 4.75rem 0 4.5rem 0;
        }

        footer .m {
            padding-right: 6rem;
        }

        footer .i {
            padding-left:6.19rem;
            padding-right: 0;
        }

        footer .f {
            padding-right: 2.25rem;
            padding-left: 2.25rem;
        }

}
