
footer {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    padding: 5.75rem 0 5.5rem 0;
}

.icon__maps {
    margin-right: 4.5rem;
}

.icon__insta {
    margin-right: 3.31rem;
}

.icon__facebook {
    margin-right: 3.5rem;
}

@media (max-width: 768px) {
    footer {
        justify-content: center;
        padding: 4.75rem 0 4.5rem 0;
    }

    .icon__maps {
        margin-right: 6rem;
    }

    .icon__insta {
        margin-left: 6.19rem;
        margin-right: 0;
    }

    .icon__facebook {
        margin-right: 2.25rem;
        margin-left: 2.25rem;
    }
}
